[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "<2.0.0"

[packages]
pandas = "*"
numpy = "*"
flask = "*"
dnd = {path = ".",editable = true}
rope = "*"
jsonpickle = "*"

[requires]
python_version = "2.7"
