<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1"><a href="/">DnD</a></span>
    </nav>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-2" style="border-right: 1px solid #ccc;">
                <div class="row mr-1">
                    <div class="col">
                        <h2>Status</h2>
                    </div>
                </div>
                <form method="POST" action="/character">
                    {%for character in context['characters'] %} 
                        <input type="submit" class="btn btn-secondary btn-block mb-3" name="currcharacter" value="{{character}}"></input>
                    {%endfor%}
                </form>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-2">
                        <h3>{{context['curr_character']['name']}}</h3>
                    </div>
                    <div class="col-6">
                        <h3>{{context['curr_character']['job_name']}}</h3>
                    </div>
                    <div class="col-2">
                        <h3>{{context['curr_character']['level']}}</h3>
                    </div>
                    <div class="col-2">
                        <h3>{{context['curr_character']['age']}} {{context['curr_character']['gender']}}</h3>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-2" style="border-right: 1px solid #ccc;">
                        <div class="row mb-1">
                            <div class="col">
                                <h5>STR</h5>
                            </div>
                            <div class="col">
                                <h5>{{context['curr_character']['stats']['STR']}}</h5>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <h5>DEX</h5>
                            </div>
                            <div class="col">
                                <h5>{{context['curr_character']['stats']['DEX']}}</h5>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <h5>CON</h5>
                            </div>
                            <div class="col">
                                <h5>{{context['curr_character']['stats']['CON']}}</h5>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <h5>INT</h5>
                            </div>
                            <div class="col">
                                <h5>{{context['curr_character']['stats']['INT']}}</h5>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <h5>WIS</h5>
                            </div>
                            <div class="col">
                                <h5>{{context['curr_character']['stats']['WIS']}}</h5>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <h5>CHR</h5>
                            </div>
                            <div class="col">
                                <h5>{{context['curr_character']['stats']['CHR']}}</h5>
                            </div>
                        </div>
                        <hr>
                        <div class="row mb-1">
                            <div class="col">
                                <h5>HP</h5>
                            </div>
                            <div class="col">
                                <h5>{{context['curr_character']['HP']}}</h5>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <div class="col">
                                <h5>AC</h5>
                            </div>
                            <div class="col">
                                <h5>{{context['curr_character']['AC']}}</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="row">
                            <div class="btn-group" role="group" aria-label="playerinfo">
                                <button class="btn btn-secondary ml-3 mr-1" aria-expanded="true" data-toggle="collapse" data-target="#equiped">Equiped</button>
                                <button class="btn btn-secondary" aria-expanded="false" data-toggle="collapse" data-target="#inventory">Inventory</button>
                              </div>
                        </div>
                        <div class="row overflow-auto mt-2" style="height: 150px;" id="playerinfo">
                            <div class="col accordian-group">
                                <div class="collapse show" id="equiped" data-parent="#playerinfo">
                                    {%for item in context['curr_character']['equiped']%} 
                                        <div class="row">
                                            <div class="col-8">
                                                <h6><i class="fa fa-trash fa-2 mr-2"></i>{{item}}</h6>
                                            </div>
                                            <div class="col-4">
                                                <div class="row">
                                                    <div class="col-1 d-flex justify-content-start">
                                                        <form action="/character/equiped", method="PUT">
                                                            <button type="submit" class="btn btn-link btn-sm" name="action" value="decrement"><i class="fa fa-chevron-left fa-2"></i></button>
                                                            <input type="hidden" value="{{item}}" name="item"></input>
                                                        </form>
                                                    </div>
                                                    <div class="col-1 d-flex justify-content-center mt-1">
                                                        <h6>{{context['curr_character']['equiped'][item]}}</h6>
                                                        <input type="hidden" value="{{item}}" name="item"></input>
                                                    </div>
                                                    <div class="col-1 d-flex justify-content-end">
                                                        <form action="/character/equiped", method="PUT">
                                                            <button type="submit" class="btn btn-link btn-sm" name="action" value="increment"><i class="fa fa-chevron-right fa-2"></i></button>
                                                            <input type="hidden" value="{{item}}" name="item"></input>
                                                        </form>
                                                    </div>
                                                </div>                                                    
                                            </div>
                                        </div>
                                    {%endfor%}
                                </div>
                                <div class="collapse" id="inventory" data-parent="#playerinfo">
                                        {%for item in context['curr_character']['inventory'] %} 
                                            <div class="row">
                                                <div class="col-8">
                                                    <h6><i class="fa fa-trash fa-2 mr-2"></i>{{item}}</h6>
                                                </div>
                                                <div class="col-4">
                                                    <div class="row">
                                                        <div class="col-1 d-flex justify-content-start">
                                                            <form action="/character/inventory", method="PUT">
                                                                <button type="submit" class="btn btn-link btn-sm" name="action" value="decrement"><i class="fa fa-chevron-left fa-2"></i></button>
                                                                <input type="hidden" value="{{item}}" name="item"></input>
                                                            </form>
                                                        </div>
                                                        <div class="col-1 d-flex justify-content-center mt-1">
                                                            <h6 class="text-center">{{context['curr_character']['inventory'][item]}}</h6>
                                                        </div>
                                                        <div class="col-1 d-flex justify-content-end">
                                                            <form action="/character/inventory", method="PUT">
                                                                <button type="submit" class="btn btn-link btn-sm" name="action" value="increment"><i class="fa fa-chevron-right fa-2"></i></button>
                                                                <input type="hidden" value="{{item}}" name="item"></input>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {%endfor%}
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4">
                                <h2>Features</h2>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3 overflow-auto" style="height: 150px;">
                                {%for feature in context['curr_character']['learned_features']%}
                                    <h6 aria-expanded="false" data-toggle="collapse" data-target="#{{feature}}">{{context['curr_character']['learned_features'][feature]['name']}}</h6>
                                {%endfor%}
                            </div>
                            <div class="col-9">
                                <div class="row" id="featureinfo" style="height: 150px;">
                                    <div class="col accordian-group">
                                        {%for feature in context['curr_character']['learned_features']%}
                                            <div class="collapse" id="{{feature}}" data-parent="#featureinfo">
                                                <h6>{{context['curr_character']['learned_features'][feature]['description']}}</h6>
                                            </div>
                                        {%endfor%}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row mb-2 mt-2">
            <div class="col-2">
                <h2>Import</h2>
            </div>
            <div class="col-10">
                <form class="form-inline" action="/import" method="PUT">
                    <div class="form-group mb-2">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="importfile" name="importfile" required>
                            <label class="custom-file-label" for="importfile">Choose file...</label>
                        </div>
                    </div>
                    <div class="form-group mx-sm-3 mb-2">
                        <select class="custom-select" id="type" name="type">
                            <option value="effects">Effects</option>
                            <option value="features">Features</option>
                            <option value="options">Options</option>
                            <option value="jobs">Jobs</option>
                            <option value="items">Items</option>
                          </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary mb-2">Upload</button>
                    </div>
                </form>
            </div>
            
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.js" integrity="sha256-DqUEt+3/iNJv2Kj9c+M7apLvAYr84YxGKmGa6qBa9Kc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.js" integrity="sha256-66f6uQTQkvHF8jpniLWJjnteEfmQaC/tATFew/nTBA8=" crossorigin="anonymous"></script>
</body>
</html>